@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";

@theme {
  --font-inter: 'Inter';

  --color-primary: #062B1F;
  --color-accent: #E6FF3F;
  --color-white: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #062B1F;
  color: #FFFFFF;
}

button {
  @apply cursor-pointer;
}